@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!-- page with title and picture-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
	<img src="~/joelhiltonheadshot.jpg" />
</div>
<div>
    <a asp-controller="Home" asp-action="ReadMovies">View Movies</a>
</div>